@layer base {
    body {
        font-size: 16px;
        font-weight: 400;
        line-height: calc(26px/16px);
        color: $text;
        font-family: $font-1;
        background-color: $bg;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-2;
        font-weight: 700;
    }

    h1,
    h2,
    h3 {
        background: linear-gradient(180deg, #FFF 18.48%, #FEB413 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    img {
        max-width: 100%;
    }

    a {
        text-decoration: none;
        @include transition;
    }

    input,
    textarea,
    button {
        outline: none;
        @include transition;

        &:focus {
            outline: none;
            border-color: $primary;
        }
    }

    button {
        cursor: pointer;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }
}

@layer components {
    .common {
        &-padding {
            --padding-y: 100px;
            --padding-x: 0;
            padding: var(--padding-y) var(--padding-x);

            @include lg {
                --padding-y: 80px;
            }

            @include md {
                --padding-y: 60px;
            }

            @include sm {
                --padding-y: 40px;
            }
        }
    }

    [class*="overflow-x"],
    [class*="overflow-y"] {
        @include custom-scroll(var(--scroll, 6px));
    }

    #root {
        overflow: hidden;
    }


    .key-feature {
        .swiper-slide {
            & .slider-inner{
                transition: all .8s !important;
            }
            &:not(.swiper-slide-active) {
                & .slider-inner {
                    transform: scale(0.9) !important;
                }
            }
            &-next{
                transform: translateX(-26px) !important;
            }
            &-prev{
                transform: translateX(26px) !important;
            }
        }
    }
}