@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Golos+Text:wght@400..900&family=Jura:wght@300..700&family=Manrope:wght@200..800&display=swap');

$font-1: "Manrope", sans-serif;
$font-2: "Jura", sans-serif;
$font-3: "Golos Text", sans-serif;
$font-4: "Geist Mono", monospace;

$white: #fff;
$black: #000;
$primary: #FEB413;
$text: #8C929C;
$bg: #161104;